* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: rgba(204, 200, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-color: rgb(37, 15, 46);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button {
    background-color: rgb(53, 20, 66);
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: rgba(204, 200, 255, 0.8);
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 600;
}

.content-section {
    min-height: 90vh;
    background-color: rgb(37, 15, 46);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.content-section__header {
    display: block;
    width: 100%;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3.8px;
    color: rgb(239, 82, 142);
}

/*
######################################
SEKCJA "HEADER"
######################################
*/

header.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(51, 8, 46);
    z-index: 1;
}

header .page-brand {
    width: 30%;
    height: 50%;
    margin: 10px;
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

header .menu-icons {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: rgb(240, 83, 143);
    overflow: hidden;
}

.icons--container {
    width: 100%;
    height: 200%;
    display: flex;
    flex-wrap: wrap;
    transition: .3s;
}

.icons--container.active {
    transform: translateY(-50%);
}

.icons--container i {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-navigation--full {
    display: none;
}

header nav.page-navigation {
    position: absolute;
    top: -40vh;
    left: 0;
    width: 100%;
    height: 30vh;
    transition: 0.3s;
    z-index: 4;
}

header nav.page-navigation.active {
    top: 10vh;
}

ul.page-navigation__items {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

li.page-navigation__item {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.page-navigation__item a {
    color: rgb(240, 83, 143);
}

li.page-navigation__item:nth-child(odd) {
    background-color: rgb(41, 23, 55);
}

li.page-navigation__item:nth-child(even) {
    background-color: rgb(111, 37, 76);
}

li.page-navigation__item a {
    text-transform: uppercase;
    font-size: 20px;
}

/*
######################################
SEKCJA "HOME"
######################################
*/

section#home {
    background-image: url("./images/background.svg");
    background-repeat: none;
    background-size: cover;
    position: relative;
}

.band-members {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.band-members__item {
    flex-basis: 45%;
}

.band-members__item .image-container {
    height: 150px;
}

.band-members__item p {
    text-align: center;
}

.band-members__item p:nth-child(2) {
    text-transform: uppercase;
}

.band-members__item p:nth-child(3) {
    color: rgba(204, 200, 255, 0.4);
}

/*
######################################
SEKCJA "ABOUT"
######################################
*/

section#about {
    position: relative;
    background-color: rgb(37, 15, 46);
}

.about--image-container {
    width: 100%;
    border-top: 3px solid rgb(239, 82, 142);
    margin-bottom: 5px;
}

.about-section__desc {
    width: 80%;
    margin: 10px auto;
    padding: 5px 0;
    border-bottom: 3px solid rgb(239, 82, 142);
}

.about-section__desc-header {
    margin: 10px 0;
}

/*
######################################
SEKCJA "CONCERTS"
######################################
*/

.concerts {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.concerts__item {
    flex-basis: 100%;
    display: flex;
    margin: 15px;
}

.concerts__item__img {
    flex-basis: 55%;
    margin-right: 10px;
    border-right: 3px solid rgb(239, 82, 142);
    border-bottom: 3px solid rgb(239, 82, 142);
}

.concerts__info {
    position: relative;
    flex-grow: 1;
}

.concerts__info-base {
    text-align: end;
}

.concerts__date {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.button--buy-ticket {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*
######################################
SEKCJA "VIDEO"
######################################
*/

section#video {
    min-height: 50vh;
}

.video-container {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border-top: 3px solid rgb(239, 82, 142);
}

/*
######################################
SEKCJA "PHOTOS"
######################################
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.gallery__item {
    margin: 5px;
    flex-basis: 40%;
    border-top: 3px solid rgb(239, 82, 142);
}


/*
######################################
SEKCJA "CONTACT"
######################################
*/
#contact {
    position: relative;
}

.contact__img-container {
    width: 90%;
    margin: 0 auto;
}

address {
    text-align: center;
    font-size: 20px;
    margin: 5px auto;
}

.form {
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__field {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.form__label {
    flex-basis: 80%;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.form__input {
    display: block;

    flex-basis: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);
}

.contact__button {
    margin: 5px;
    padding: 10px 15px;
}


/*
######################################
SEKCJA "FOOTER"
######################################
*/


.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7vh;
    background-color: rgb(37, 15, 46);
    width: 100%;
}

.social-links {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.icon {
    width: 30px;
    height: 30px;
}


@media (min-width: 426px) {
    address {
        margin: 15px auto;
    }

    .contact__button {
        margin: 15px;
    }
}

@media (min-width: 500px) {
    .concerts__date {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .button--buy-ticket {
        padding: 10px 15px;
    }
}



/*
######################################
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
SEKCJA "FULL WERSION"
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
######################################
*/

@media (min-width: 801px) {

    .button {
        background-color: rgb(53, 20, 66);
        border: none;
        border-radius: 3px;
        text-transform: uppercase;
        color: rgba(204, 200, 255, 0.8);
        padding: 10px 5px;
        font-size: 13px;
        font-weight: 600;
    }

    .content-section {
        min-height: 100vh;
        width: 80%;
        margin-left: 20%;
        padding-right: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-section__header {
        display: block;
        width: 100%;
        height: 10vh;
        text-align: right;
        line-height: 10vh;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 3.8px;
    }

    /*
    ######################################
    SEKCJA "HEADER"
    ######################################
    */

    header.page-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        align-content: center;
        top: 5%;
        left: 0;
        width: 20%;
        height: 35vh;
        z-index: 1;
        background-color: transparent;

    }

    header .page-brand {
        flex-basis: 80%;
        margin-bottom: 25px;
        height: 15%;
        background-image: url('./images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    header .menu-icons {
        display: none;
    }

    header nav.page-navigation {
        position: static;
    }

    nav.page-navigation {
        display: none;
    }

    .page-navigation--full {
        display: block;
        flex-basis: 80%;
    }

    .page-navigation--full__items {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-content: space-between;
    }

    .page-navigation--full__item {
        flex-basis: 100%;
        margin-bottom: 5px;
    }

    .page-navigation--full__item a {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 6.7px;
        color: rgb(239, 82, 142);
        transition: 0.2s;
    }

    .page-navigation--full__item a:hover {
        color: #ee99b9;
        border-left: 3px solid rgb(239, 82, 142);
        padding-left: 10px;
    }


    /*
    ######################################
    SEKCJA "HOME"
    ######################################
    */

    section#home {
        background-image: url("./images/background.svg");
        background-repeat: none;
        background-size: cover;
    }

    .band-members {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .band-members__item {
        flex-basis: 45%;
        opacity: 0.7;
        transition: .3s;
    }

    .band-members__item:hover {
        opacity: 1;
    }

    .band-members__item p {
        text-align: center;
        opacity: 0;
        transition: .3s;
    }

    .band-members__item:hover p {
        opacity: 1;
    }

    .band-members__item p:nth-child(2) {
        text-transform: uppercase;
    }

    .band-members__item p:nth-child(3) {
        color: rgba(204, 200, 255, 0.4);
    }

    /*
    ######################################
    SEKCJA "ABOUT"
    ######################################
    */

    section#about {
        justify-content: flex-end;
        align-content: flex-start;
        position: relative;
    }

    .about--image-container {
        width: 65%;
        justify-self: right;
        border-top: 3px solid rgb(239, 82, 142);
        margin-bottom: 5px;
    }

    .about--image-container img {
        height: auto;
    }

    .about-section__desc {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 50%;
        width: 40%;
        padding: 20px;
        border-bottom: 3px solid rgb(239, 82, 142);
        background-color: rgb(50, 21, 63);
    }

    .about-section__desc-header {
        margin: 0 0 10px 0;
    }

    /*
    ######################################
    SEKCJA "CONCERTS"
    ######################################
    */
    #concerts {
        background-image: url("./images/background.svg");
        background-repeat: none;
        background-size: cover;
    }

    .concerts {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: space-between;
        align-content: space-between;
    }

    .concerts__item {
        flex-basis: 45%;
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        align-content: flex-start;
    }

    .concerts__image {
        height: auto;
    }

    .concerts__item__img {
        flex-basis: 100%;
        margin-right: 0;
        border-right: none;
        border-bottom: 3px solid rgb(239, 82, 142);
    }

    .concerts__info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .concerts__info-base {
        text-align: start;
    }

    .concerts__date {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
    }


    /*
    ######################################
    SEKCJA "VIDEO"
    ######################################
    */

    section#video {
        min-height: 50vh;
    }

    .video-container {
        margin: 10px auto;
        text-align: center;
        border-top: 3px solid rgb(239, 82, 142);
    }


    /*
    ######################################
    SEKCJA "PHOTOS"
    ######################################
    */
    #photos {
        align-content: flex-start;
        background-image: url("./images/background.svg");
        background-repeat: none;
        background-size: cover;
    }

    .gallery {
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .gallery__item {
        margin: 0;
        flex-basis: 30%;
        border-top: 3px solid rgb(239, 82, 142);
    }


    /*
    ######################################
    SEKCJA "CONTACT"
    ######################################
    */
    #contact {
        align-content: flex-start;
        justify-content: flex-start;
    }

    .contact__img-container {
        flex-basis: 60%;
        margin: 0;
    }

    .contact__img-container .gallery__image {
        height: auto;
    }

    address {
        flex-basis: 40%;
        text-align: left;
        font-size: 15px;
        margin: 0;
        padding: 0 5%;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .form {
        flex-basis: 40%;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .form__field {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        margin: 10px 0;
    }

    .form__label {
        flex-basis: 100%;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .form__input {
        display: block;
        flex-basis: 100%;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: rgba(219, 216, 251, 0.1);
    }

    .contact__button {
        margin: 0;
        padding: 10px 15px;
    }


    /*
    ######################################
    SEKCJA "FOOTER"
    ######################################
    */

    .page-footer {
        position: fixed;
        bottom: 15px;
        left: 0;
        height: 25vh;
        background-color: rgb(37, 15, 46);
        width: 20%;
    }

    .social-links {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: wrap;

        align-content: space-around;
    }

    .social-links__item {
        flex-basis: 80%;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}



@media (min-width: 1024px) {

    .content-section__header {
        font-size: 20px;
    }

    #concerts {
        justify-content: flex-end;
    }

    .concerts {
        flex-basis: 70%;
    }

    #photos {
        justify-content: flex-end;
    }

    .gallery {
        flex-basis: 70%;
    }

    /*
    ######################################
    SEKCJA "HOME"
    ######################################
    */
    .band-members {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .band-members__item .image-container {
        height: 250px;
        margin-bottom: 5px;
    }

    .band-members__name {
        font-size: 20px;
    }

    .band-members__desc {
        font-size: 16px;
    }

    /*
    ######################################
    SEKCJA "Galeria"
    ######################################
    */

    .gallery {
        height: auto;
    }

    .gallery__item {
        margin: 5px;
    }

    /*
    ######################################
    SEKCJA "VIDEO"
    ######################################
    */

    section#video {
        min-height: 100vh;
    }
}

@media (min-width: 1740px) {
    /*
    ######################################
    SEKCJA "HOME"
    ######################################
    */

    .band-members__item .image-container {
        height: 400px;
    }

    p.address {
        font-size: 25px;
    }

    /*
    ######################################
    SEKCJA "ABOUT"
    ######################################
    */
    .about-section__desc-header {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .about-section__desc-details {
        font-size: 20px;
    }
}